<p id="notice"><%= notice %></p>

     <br>
    <p>
    <br>
    <p>
    <br>
    <p>



      <!-- -->
      <section>
        <div class="container">
          <p class="lead">
            We offer residential elevator services in sales, installation,
            maintenance and service. Residential Elevators are so much more than
            eye candy for your abode. Beautiful, yes, but do not dismiss its
            functionality. They benefit people from all walks of life, with the
            mobility, transportation advantages, convenience, residence value,
            and minimal maintenance it offers.
          </p>

          <div class="divider divider-center divider-color">
            <!-- divider -->
            <i class="fa fa-chevron-down"></i>
          </div>

          <article class="row">
            <div class="col-md-6">

              <div
                class=" buttons-autohide controlls-over m-0"
                data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"backSlide", "progressBar":"true"}'
              >
                <div>
                    <%= image_tag("AdobeStock_124493370.jpeg", class: "img-fluid") %>
                </div>
              </div>
              <!-- /OWL SLIDER -->



              
            </div>
            <div class="col-md-6">
              <h3>Rocket Elevators: Your Choice of Reliability</h3>
              <p>Servicing Installment Of Elevators Of All Sizes</p>

              <p>Years Of Industry Expertise</p>

              <p>Lifetime Repair and Maintenance Service</p>
            </div>
          </article>

        </div>
      </section>
<br>
