<br>
<br>
<br>


<p id="notice"><%= notice %></p>

<h1>Interventions</h1>

<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
  
    
  </tbody>
</table>

<br>

<%= render "interventions/dropdownform", intervention: @intervention %>

<script>

</script>
