
  .slider__nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
  }
  
  .slider__navlink {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    margin: 0 10px 0 10px;
  }
  